 /* Universal */
 
 * {
    font-family: 'Gothic A1';
    margin: 0px;
    padding: 0px;
 }

 html {
     font-size: 16px;
 }

 h2 {
     font-size: 1.9rem;
     font-weight: 900;
 }

 h3 {
     font-size: 1.5rem;
     font-weight: 600;
 }

 p {
     line-height: 1.75rem;
 }

 /* Header */

 header {
     color: whitesmoke;
 }

 .nav { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: black;
}

.logo {
    display: flex;
    align-content: center;
    align-items: center;
}

.logo img {
    padding: 1.1rem;
    max-width: 10rem;
}

.menu {
    width: 50%;
    text-transform: capitalize;
    font-weight: 700;
}

 nav ul {
     display: flex;
     list-style-type: none;
     justify-content: space-around;
 }

 header .cover {
    width: 100%;
    height: 40rem;
    background-image: url("resources/louis-reed-pwcKF7L4-no-unsplash.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textbox {
    text-align: left;
}

header .cover button {
    padding: 1rem 2.25rem;
    background-color: white;
    border-radius: .5rem;
    font-size: 1.1rem;
    font-family: 'Gothic A1';
    font-weight: 600;
    border: black 2px solid;
    margin: 20px 0px;
}

header .cover button:hover {
    background-color: rgb(168, 224, 224);
}

h1 {
    font-size: 2.25rem;
    font-weight: 900;
    text-shadow: 5px 5px 10px black;
}

/* features section */

.features {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    width: 100%;
    height: 48rem;
}

.features div {
    max-width: 30%;    
}

.features div * {
    margin: 2rem;
}

.features div img {
    max-width: 100%;
    border-radius: 50%;
    margin: 0;
}

.features {
    text-align: center;
}

.features hr {
    border-top: black 2px solid;
}

/* applications of MolEvo section */

.applications .app-head {
    padding: 3rem;
    padding-bottom: 0rem;
}

.column2 {
    display: flex;
    justify-content: space-around;
}

.column2 * {
    padding: 1rem 1.5rem;
}

/* our mission section */

.mission {
    display: flex;
    margin-top: 2rem;
    padding: 0 1.5rem;
    justify-content: space-between;
}

.mission div {
    max-width: 50%;
    padding: 0 1.5rem;
}

.mission img {
    max-width: 100%;
    
}

/* footer */

.footer { 
    margin-top: 3rem;
    padding: 1.5rem 3rem;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: whitesmoke;
    max-width: 100%;
}

.footer .social {
    display: flex;
    justify-content: space-between;
    width: 15%;
}